body {
  background-color: #222;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.button {
  background-color: #00ccff;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #0099cc;
}

.audio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.audio-item {
  background-color: #333;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.audio-item:hover {
  background-color: #444;
}

.audio-item__title {
  font-size: 18px;
  margin-bottom: 10px;
}

.audio-item__playback {
  width: 100%;
  margin-bottom: 10px;
}

.audio-item__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio-item__button {
  background-color: #00ccff;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}

.audio-item__button:hover {
  background-color: #0099cc;
}